body {
  font-family: 'Verdana';
  margin: 0;
  padding: 0;
  background: #23272B;
}
  header {
    float: left;
    width: 100%;
  }
    header h1 {
      display: block;
      float: left;
      padding: 10px 10px;
      color: #fff;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#264fbf+0,213ca8+100 */
      background: #264fbf; /* Old browsers */
      background: -moz-linear-gradient(top,  #264fbf 0%, #213ca8 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #264fbf 0%,#213ca8 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #264fbf 0%,#213ca8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#264fbf', endColorstr='#213ca8',GradientType=0 ); /* IE6-9 */
      border-radius: 0 10px 10px 0;
    }
    header h1 span {
      font-weight: normal;
    }
  main {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
  }
  main a, main a:visited {
    color: dodgerblue;
  }
  .module {
    clear: both;
    float: left;
    width: 90%;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 0;
  }
  .module h2 {
    margin-bottom: 10px;
    margin-top: 0;
    cursor: pointer;
  }
  .module h2 img {
    max-height: 32px;
    vertical-align: top;
    border-radius: 10px;
  }
  .module hr {
    border-color: #000;
    border-style: solid;
    border-top-width: 0;
    display: none;
  }
  .module ul {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
    float: left;
    display: none;
  }
    .module ul > li {
      list-style-type: none;
      float: left;
      margin: 10px;
      padding: 10px 10px 5px 10px;
      border-radius: 10px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
      background: #eeeeee; /* Old browsers */
      background: -moz-linear-gradient(-45deg,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    .module ul img {
      float: left;
      width: 50px;
      height: 50px;
      margin-right: 10px;
      border: 1px solid #000;
      border-radius: 10px;
    }
    .module ul h3 {
      float: left;
    }
    .module ul div.social {
      float: left;
    }
    .module ul div.info {
      clear: both;
      float: left;
      padding-right: 5px;
      margin-top: 5px;
    }
    .module ul dl {
      margin-top: 0;
      font-size: 12px;
    }
    .module ul dt {
      font-weight: bold;
    }
    .module ul dd {
      margin-left: 0;
      margin-bottom: 10px;
    }

